.card__section{
    margin-top: 40px;
}
.card__weather{    
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 34px;

}

.card__list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    list-style: none;
}

.card__item{
    position: relative;
}

.card__name{
    text-align: center;    
    position: absolute;
    top: 25px;
    left: 40%;     
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    opacity: 0.6;
    display: flex;
    align-items: center; 
    align-content: center;

}

.card__name-wrapper{
    background-color: white;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px; 
    align-self: center;   
    
}



.card__like-btn{
    border: 0; 
    background: 0; 
    padding: 0px;
    padding-left: 10px;
    display: flex;
    cursor: pointer;
    
}

.card__like-btn_img{
    width: 18px; 
    height: 15px; 
    align-self: center;    
}

.card__image{
    width: 328px;
    height: 325px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}