.text__label{
    display: flex;
    flex-direction: column;    
}

.text__input{
    margin: 0;
    border: none;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    padding-bottom: 4px;
    padding-top: 8px;
}

.text__input::placeholder{
    font-size: 16px;
    line-height: 1.2;   
}

.form__subtitle{
    margin: 0;
    padding-bottom: 12px;
}

.radio__input{
    height: 10px;
    width: 10px;
}
.radio__label{
    margin-left: 11px;
    margin-bottom: 8px;
    display: inline;
}
